:root{
    font-size: 3vw;
}
*, *::after, *::before{
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
}
.page-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1rem;
}
.header, .footer{
    background-color: rgb(58,   56,  56);
}
.header{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
}
.heading{
    color: rgb(231,119,25);
    font-size: .78rem;
    flex: 1 1 100%;
    text-align: center;
}
.book-button{
    width: 4rem;
    height: .8rem;
}
.book-body{
    background-color:  rgb(231,119,25);
    padding: 15px;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}
.new-book{
    background-color: rgb(58,   56,  56);
    min-height: 7rem;
    display: flex;
    flex-wrap: wrap;
}
.new-book div{
    flex-basis:100%;
}
.form-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(58,   56,  56);
    width: 500px;
    max-width: 80%;
}

.form-container.active{
    transform: translate(-50%, -50%) scale(1);
}

.form-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: .8rem;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
    opacity: 0;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
label{
    font-size: 0.5rem;
}

fieldset{
    border: 0px;
    
}



button.read-status{
    background-color: red;
}
button.read-status.finished{
    background-color: green;
}