:root{
    font-size: 3vw;
}
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
}

.page-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr .7fr;
}

.header, .footer{
    background-color: rgb(58,   56,  56);
}
.header{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
}
.heading{
    color: rgb(231,119,25);
    font-size: .78rem;
    flex: 1 1 100%;
    text-align: center;
}

button{
    width: 4rem;
    height: .8rem;
}

.book-body{
    background-color:  rgb(231,119,25)
}
